@import "../../../static/scss/variables.scss";
@import "../../../static/scss/mixin.scss";

.form-block {
  @include block (0vw, 0vw, 100vw, 284vw);
}
.form-block__h2 {
  @include block (10.2vw, 36vw, null, null);
  @include fonts (Arial, 5.4vw, normal, 700, normal, $fivefold);
  padding: 0;
  margin: 0;
}
.form-block__form {
  display: flex;
  flex-direction: column;
}
.form-block__span {
  @include block (24.6vw, 4.8vw, 83.4vw, 5.4vw) {
    display: block;
    border: 1px solid $sevenfold;
    white-space: nowrap;
    outline: hidden;
    z-index: 1;
  }
  @include fonts (Arial, 4.3vw, normal, 400, normal, $sevenfold);
  padding: 2.2vw 3vw;
  & > label {
    position: relative;
  }
  &.err {
    border: 1px solid $sixtyfold;
    color: $sixtyfold !important;
  }
  cursor: pointer;
}
.form-block__icon {
  @include icon (14.2vw, 84.5vw, 10.2vw, 5.7vw) {
    fill: $tertiary;
  }
  background-color: $eightfold;
  padding: 2.4vw 0.02vw;
  z-index: 1;
}
.form-block__icon.show {
  transform: rotate(180deg);
}
.form-block__ul {
  @include block (36.5vw, 4.8vw, 89.4vw, 55vw);
  @include fonts (Arial, 4.3vw, normal, 400, 8.8vw, $primary); 
  display: none;
  padding: 0;
  position: absolute;
  border: 1px solid $sevenfold;
  background-color: $tertiary;
  z-index: 1;
}
.form-block__ul.show {
  display: block;
}
.form-block__ul-li {
  list-style-type: none;
  padding-left: 0.3vw;
  @media (hover) {
    &:hover {
      background-color: $fivefold;
      color: $tertiary;
    }
  }
  cursor: pointer;
}
.form-block__label {
  display: inline-block;
  @include block (-4.1vw, 4.9vw, null, null);
  @include fonts (Arial, 4.3vw, normal, 400, normal, $primary);
  padding-bottom: 19.4vw;
  &.item {
    padding: 0; 
  }
}
.form-block__input {
  @include block (-1vw, 4.8vw, 88.7vw, 9.5vw);
  @include fonts (Arial, 4.3vw, normal, 400, normal, $sevenfold); 
  padding: 0 0.3vw;
  margin: 0 0 9.5vw 0;
  outline: none;
  border: 1px solid $sevenfold;
  &.item {
    height: 43.3vw;
    resize: none;
  }
  &::placeholder {
    opacity: 0;
  }
  &:focus::placeholder{
    opacity: 1;
    color: $primary;
  }
  &:focus{
    color: $primary;
  }
  &.err {
    border: 1px solid $sixtyfold;
  }
}
.form-block__signature {
  @include block (1.2vw, 4.8vw, null, null);
  @include fonts (Arial, 4.35vw, normal, 400, normal, $sixtyfold);
}
.form-block__button {
  @include block (-9.2vw, 44.3vw, 50.2vw, 15.5vw);
  @include fonts (Arial, 4.35vw, normal, 700, normal, $tertiary); 
  background-color: $fivefold;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.form-block__p {
  @include block (-7.4vw, 1.6vw, 95vw, null);
  @include fonts (Arial, 3.98vw, normal, 400, normal, $primary);
  margin-bottom: 3.5vw;
  text-align: center;
}
////////////////////////////////////////////////////////////////
.form-block__modal {
  @include block (0vw, 0vw, 100vw, 60vw);
  display: block;
  position: fixed;
  top:  60%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 10;
  background-color: $tertiary;
}
.form-block__modal-body {
  @include block (0vw, 0vw, 89.6vw, 45vw);
  display: block;
  position: relative;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: $ninefold;
  text-align: center;
}
.form-block__modal-body__icon {
  @include icon (-7.9vw, 65.9vw, 8.4vw, 8.4vw);
  cursor: pointer;
}
.form-block__modal-body__h2 {
  @include fonts (Arial, 5.6vw, normal, 700, normal, $sixtyfold);
  @include block (3vw, -5vw, 50vw, null);
  display: inline-block;
}
.form-block__modal-body__p {
  @include fonts (Arial, 4.37vw, normal, 400, normal, $primary); 
  @include block (-2vw, 0vw, 75vw, null);
  display: inline-block;
}