@import "../../../static/scss/variables.scss";
@import "../../../static/scss/mixin.scss";

.footer-block {
  @include block (0vw, 0vw, 100vw, 29.6vw);
  background-image: url("../../../src/static/img/general/05section.footer/bgHd2.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.footer-block__top {
  @include block (0vw, 0vw, 100vw, 7.7vw);
  border-bottom: 4px solid $tenfold;
}
.footer-block__top-icon1 {
  @include icon (1.2vw, 14.1vw, 4.2vw, 2.2vw);
}
.footer-block__top-icon2 {
  @include icon (1.35vw, 14.3vw, 6.1vw, 2.5vw);
}
.footer-block__top-icon3 {
  @include icon (1.4vw, 8.2vw, 7.3vw, 2.6vw);
  fill: $tertiary;
}
.footer-block__link {
  @include fonts (Arial, 0.73vw, normal, 700, normal, $tertiary);
  position: relative;
  top: 0.4vw;
  left: 42.1vw;
  margin-right: 1.65vw;
  text-decoration: none;
  @media (hover) {
    &:hover {
      border-bottom: 1px solid $tertiary;
    }
  }
}
.footer-block__top-p {
  @include fonts (Arial, 0.73vw, normal, 400, 0.1vw, $tertiary);
  @include block (1.75vw, 14.55vw, 15vw, null);
}
.footer-block__top-h2 {
  @include fonts (Arial, 0.93vw, normal, 700, normal, $tertiary);
  @include block (0.12vw, 73.8vw, 6vw, null);
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.footer-block__top-icon4 {
  @include icon (-1.25vw, 80.3vw, 1.5vw, 1.5vw);
}
.footer-block__top-icon5 {
  @include icon (-1.25vw, 80.8vw, 1.5vw, 1.5vw);
}
.footer-block__top-icon6 {
  @include icon (-1.25vw, 81.1vw, 1.5vw, 1.5vw);
}
.footer-block__bottom {
  @include block (0vw, 0vw, 100vw, 21.9vw);
  border-top: 1px solid $elevenfold;
}
.footer-block__bottom-p {
  @include fonts (Arial, 0.73vw, normal, 400, normal, $tertiary);
  @include block (0.33vw, 14.55vw, 71vw, null);
  margin-bottom: 0.83vw;
}