@import "../../../static/scss/variables.scss";
@import "../../../static/scss/mixin.scss";

.nav-block {
  @include block (0vw, 0vw, 100vw, 11.9vw);
}
.nav-block__item1 {
  @include icon (0.1vw, 2.8vw, 8vw, 7vw);
}
.nav-block__item2 {
  @include icon (0.1vw, 4vw, 14.5vw, 7vw);
}
.nav-block__item3 {
  @include icon (0.5vw, -10.4vw, 17.4vw, 8vw) {
    fill: $twelvefold;
  }
}
.nav-block__item4 {
  @include icon (2.6vw, -37vw, 25.7vw, 3.8vw);
}
.nav-block__item6 {
  @include button (-4vw, -15.8vw, 28vw, 2vw) {
    @include fonts (Arial, 1.75vw, normal, 700, 2vw, $primary);
  }
  .nav-block__item6-icon{
    @include icon (-0.3vw, 24.9vw, 6.2vw, 3vw){
      position: absolute;
      pointer-events: none;
      fill: $primary;
    }
  }
}
.nav-block__item7 {
  @include button (-6.4vw, 80.8vw, 14vw, 2vw) {
    @include fonts (Arial, 1.75vw, normal, 700, 2vw, $primary);
  }
  .nav-block__item7-icon{
    @include icon (-0.3vw, 11.3vw, 6.2vw, 3vw) {
      position: absolute;
      pointer-events: none;
      fill: $primary;
    }
  }
}
.nav-block__input {
  @include block (-5.2vw, 51.2vw, 45.3vw, 4vw) {
  display: grid;
  grid-template-columns: 40.8vw 4.6vw;
  grid-template-rows: 4vw;
  gap: 0;
  border: 1px solid $sevenfold;
  overflow: hidden;
  }
}
.nav-block__input-input {
  @include fonts (Arial, 1.75vw, normal, 700, 2vw, $primary);
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.nav-block__item8 {
  @include icon (0vw, 0.3vw, 100%, 100%) {
    z-index: 5;
  cursor: pointer;
  }
}