@import "./variables.scss";

@mixin block (
  $top,
  $left,
  $width,
  $height,
) {
  position: relative;
  top: $top;
  left: $left;
  @if $width { width: $width };
  @if $height { height: $height };
  @content;
}
@mixin icon (
  $top,
  $left,
  $width,
  $height,
) {
  position: relative;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
  @content;
}
@mixin button (
  $top,
  $left,
  $width,
  $height,
) {
  position: relative;
  top: $top;
  left: $left;
  @if $width { width: $width };
  @if $height { height: $height };
  background: none;
  border: none;
  cursor: pointer;
  @content;
}
@mixin fonts (
  $font-family,
  $font-size,
  $font-style,
  $font-weight,
  $line-height,
  $color
) {
  font-family: $font-family;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  @if $line-height { line-height: $line-height };
  color: $color;
}
@mixin link (
  $top,
  $left,
) {
  position: relative;
  top: $top;
  left: $left;
  text-decoration: none;
  @media (hover) {
    &:hover {
      border-bottom: 1px solid $primary;
    }
  }
  @content;
}
