@import "../../../static/scss/variables.scss";
@import "../../../static/scss/mixin.scss";

.form-block {
  @include block (0vw, 0vw, 100vw, 99.47vw);
}
.form-block__h2 {
  @include block (5.2vw, 2.8vw, 20vw, null);
  @include fonts (Arial, 2.8vw, normal, 700, normal, $fivefold);
  padding: 0;
  margin: 0;
}
.form-block__form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.form-block__span {
  @include block (10.35vw, 25.6vw, 68.6vw, 2.4vw) {
    display: block;
    border: 1px solid $sevenfold;
    z-index: 1;
  }
  @include fonts (Arial, 2.1vw, normal, 400, normal, $sevenfold);
  padding: 0.8vw 1.2vw;
  & > label {
    position: relative;
  }
  &.err {
    border: 1px solid $sixtyfold;
    color: $sixtyfold !important;
  }
  cursor: pointer;
}
.form-block__icon {
  @include icon (6.15vw, 92.6vw, 4.1vw, 2.4vw) {
    fill: $tertiary;
  }
  background-color: $eightfold;
  padding: 0.9vw 0.03vw;
}
.form-block__icon.show {
  transform: rotate(180deg);
}
.form-block__ul {
  @include block (15.6vw, 25.6vw, 71vw, 24.3vw);
  @include fonts (Arial, 2.1vw, normal, 400, 4vw, $primary); 
  display: none;
  padding: 0;
  position: absolute;
  border: 1px solid $sevenfold;
  background-color: $tertiary;
  z-index: 1;
}
.form-block__ul.show {
  display: block;
}
.form-block__ul-li {
  list-style-type: none;
  padding-left: 1.2vw;
  @media (hover) {
    &:hover {
      background-color: $fivefold;
      color: $tertiary;
    }
  }
  cursor: pointer;
}
.form-block__label {
  display: inline-block;
  @include block (2.9vw, 2.7vw, 20vw, null);
  @include fonts (Arial, 2.35vw, normal, 400, normal, $primary);
  padding-bottom: 4.2vw;
  &.item {
    padding: 0; 
  }
}
.form-block__input {
  @include block (-0.9vw, 25.6vw, 70.4vw, 3.9vw);
  @include fonts (Arial, 2.1vw, normal, 400, normal, $sevenfold); 
  padding: 0 0.3vw;
  margin: 0;
  outline: none;
  border: 1px solid $sevenfold;
  &.item {
    height: 18vw;
    resize: none;
  }
  &::placeholder {
    opacity: 0;
  }
  &:focus::placeholder{
    opacity: 1;
    color: $primary;
  }
  &:focus{
    color: $primary;
  }
  &.err {
    border: 1px solid $sixtyfold;
  }
}
.form-block__signature {
  @include block (1.9vw, 25.7vw, 20vw, null);
  @include fonts (Arial, 2.07vw, normal, 400, normal, $sixtyfold); 
}
.form-block__button {
  @include block (-0.5vw, 76vw, 20.8vw, 6.3vw);
  @include fonts (Arial, 2vw, normal, 700, normal, $tertiary); 
  background-color: $fivefold;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.form-block__p {
  @include block (2.7vw, 3vw, 95vw, null);
  @include fonts (Arial, 2.08vw, normal, 400, normal, $primary); 
  margin-bottom: 1.25vw;
}
////////////////////////////////////////////////////////////////
.form-block__modal {
  @include block (0vw, 0vw, 80.3vw, 28.9vw);
  display: block;
  position: fixed;
  top:  60%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 10;
  background-color: $tertiary;
}
.form-block__modal-body {
  @include block (0vw, 0vw, 66.4vw, 18.4vw);
  display: block;
  position: relative;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: $ninefold;
  text-align: center;
}
.form-block__modal-body__icon {
  @include icon (0vw, 34.9vw, 3.5vw, 3.5vw);
  cursor: pointer;
}
.form-block__modal-body__h2 {
  @include fonts (Arial, 2.86vw, normal, 700, normal, $sixtyfold); 
}
.form-block__modal-body__p {
  @include fonts (Arial, 2.36vw, normal, 400, normal, $primary); 
}