@import "../../../static/scss/variables.scss";
@import "../../../static/scss/mixin.scss";

.label-block {
  @include block (0vw, 0vw, 100vw, 348.4vw);
}
.label-block__top {
  @include block (0vw, 0vw, 100vw, 63.4vw);
  background-color: $secondary;
}
.label-block__top-icon {
  @include icon (5.65vw, 9.3vw, 80vw, 50.9vw);
}
.label-block__bottom {
  @include block (0vw, 0vw, 100vw, 285vw);
}
.label-block__bottom-h2 {
  @include block (9.6vw, 7.35vw, 85vw, null);
  @include fonts (Arial, 5.47vw, normal, 700, normal, $primary);
  margin: 0;
  padding: 0;
  text-align: center;
}
.label-block__bottom-container {
  @include block (18.3vw, 11.6vw, 77vw, 250.2vw);
  display: flex;
  flex-direction: column;
  gap: 6.4vw;
}
.label-block__bottom-img {
  width: 70.1vw;
  height: 25vw;
}