@import "../../../static/scss/variables.scss";
@import "../../../static/scss/mixin.scss";

.footer-block {
  @include block (0vw, 0vw, 100vw, 364.6vw);
  background-image: url("../../../src/static/img/general/05section.footer/bgMobile2.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.footer-block__top {
  @include block (0vw, 0vw, 100vw, 22.7vw);
  border-bottom: 4px solid $tenfold;
}
.footer-block__top-icon1 {
  @include icon (5.45vw, 4.55vw, 13.6vw, 8.8vw);
}
.footer-block__top-icon2 {
  @include icon (5.55vw, 7.3vw, 25vw, 8.8vw);
}
.footer-block__top-icon3 {
  @include icon (5.9vw, -17.8vw, 30.6vw, 10.8vw);
  fill: $tertiary;
}
.footer-block__top-icon7 {
  @include icon (5.9vw, -15.2vw, 1.5vw, 10.5vw);
}
.footer-block__top-icon8 {
  @include icon (-4.4vw, 57.3vw, 35.6vw, 6.8vw);
}
//////////////////////////////////////////////////

.footer-block__center {
  @include block (0vw, 0vw, 100vw, 74vw);
  border-top: 1px solid $elevenfold;
  border-bottom: 4px solid $tenfold;
}
#footer-block__link {
  @include block (6vw, 6vw, 87vw, 14vw);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-block__link {
  @include fonts (Arial, 4.3vw, normal, 700, normal, $tertiary);
  white-space: nowrap;
  margin-bottom: 4vw;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  @media (hover) {
    &:hover {
      border-bottom: 1px solid $tertiary;
    }
  }
}
.footer-block__center-h2 {
  @include fonts (Arial, 5.56vw, normal, 700, normal, $tertiary);
  @include block (15.1vw, 32vw, 15vw, null);
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.footer-block__top-icon4 {
  @include icon (21.8vw, 34.8vw, 8.1vw, 8.1vw);
}
.footer-block__top-icon5 {
  @include icon (21.8vw, 37.6vw, 8.1vw, 8.1vw);
}
.footer-block__top-icon6 {
  @include icon (21.8vw, 41vw, 8.1vw, 8.1vw);
}
.footer-block__top-p {
  @include fonts (Arial, 3.65vw, normal, 400, 0.5vw, $tertiary);
  @include block (27.8vw, 0vw, 100vw, null);
  text-align: center;
}
//////////////////////////////////////////////////

.footer-block__bottom {
  @include block (0vw, 0vw, 100vw, 264.8vw);
  border-top: 1px solid $elevenfold;
}
.footer-block__bottom-p {
  @include fonts (Arial, 3.15vw, normal, 400, normal, $tertiary);
  @include block (0.6vw, 2.5vw, 95vw, null);
  margin-bottom: 2.1vw;
}