@import "../../../static/scss/variables.scss";
@import "../../../static/scss/mixin.scss";

.contact-block {
  @include block (0vw, 0vw, 100vw, 14vw) {
    background-image: url("../../../src/static/img/general/02section.contact/bgHd1.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.contact-block__link {
  @include link (0.5vw, 14.6vw) {
    @include fonts (Arial, 0.73vw, normal, 400, normal, $primary);
    z-index: 1;
    margin-right: 0.8vw;
  }
}
.contact-block__icon1 {
  @include icon (0.7vw, 8.7vw, 2.2vw, 1vw) {
    fill: $primary;
  }
  transform: rotate(270deg);
  margin-right: 2.3vw;
}
.contact-block__h1 {
  @include fonts (Arial, 1.35vw, normal, 700, normal, $primary);
  position: relative;
  top: 4.55vw;
  left: 14.6vw;
}
.contact-block__icon2 {
  @include icon (-0.2vw, 24.5vw, 2.5vw, 5.7vw);
}
.contact-block__p {
  @include block (-7vw, 27.3vw, 28vw, 7vw);
  @include fonts (Arial, 0.94vw, normal, 400, 1.1vw, $primary);
}